{% extends 'base.html'%}

{% from 'macros.html' import display_comments%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Comments page</h1>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="text-white">{{wtf.quick_form(form)}}</div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h2 class="text-center text-white">All comments:</h2>
            <div class="container">
                <div class="card-group">
                    {{ for comment in comments }}
                    <div class = "card text-center" style="border: 1px solid black">
                        <p class="card-text" style="font-size: 10px">{{ comment.comment }}</p>
                    </div>
                    {{ endfor }}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock%}

