{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <div class="card-group">
        {% for post in posts_display %}
        <div class="card" style="min-width: 25rem; max-width: 28rem; margin-top: 30px; margin-bottom: 30px;margin-right: 20px; border:1px solid black">
            <div class="card-header bg-success">{{post.category}}</div>
            <div class="card-body">
                <h5 class="card-text">{{post.post}}</h5>
            </div>
            <footer class="blockquote-footer my-2">By: <cite title="Source Title">{{post.author}}</cite></footer>
            <div class="text-center">
                <a href= "{{url_for('main.comment')}}" class="btn btn-outline-success">Comment</a>
                <a href="/like/{{post.id}}" class="btn btn-success">like{{post.up_vote.count()}}</a>
                <a href="/dislike/{{post.id}}" class="btn btn-success">Dislike{{post.down_vote.count()}}</a>
            </div>
            <div class="card-footer text-muted">
                <h6>Published On: {{ post.date_created }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}